/* slider.css */
.marquee {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.marquee-content {
  display: flex;
  gap: 50px; /* Adjust gap as needed for spacing */
  animation: marquee 20s linear infinite; /* Adjust duration for scroll speed */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -100%
    ); /* Move to the left by the full width of the container */
  }
}

.company-item {
  white-space: nowrap; /* Prevent line breaks */
  font-size: 1.5rem; /* Adjust font size as needed */
  color: white; /* Text color */
}
